a:hover, #recipe:hover, button:hover{
  cursor: pointer;
}
img:hover{
  cursor: pointer;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.logo:hover{
  box-shadow: none;
}
/********** Footer *************/
.footer {
    background: #000;
    color: white;
    font-size: 14px;
    padding: 30px 0 20px;
  }
  .footer p {
    color: white;
  }
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer-col-4 a img {
    height: 28px;
    width: 28px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  .footer-col-1 {
    flex-basis: 30%;
   
  }
  .footer-col-2 {
    flex: 1;
    text-align: center;
    padding-top: 20px;
  }
  
  .footer-col-3 {
    padding-top: 23px;
    line-height: 2.4em;
    padding-left: 25px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 18%;
    text-align: center;
  }
  
  .footer-col-4 {
    flex: 1;
    text-align: center;
    padding-bottom: 40px;
    margin-left: 0.5em;
  }
  
  .app-logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .app-logo img {
    width: 140px;
    margin-right: 1em;  
  }
  
  
  .footer .newsletter form {
    position: relative;
    width: 100%;
  }
  
  .footer .newsletter input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }
  
  .footer .newsletter .btn-news {
    position: absolute;
    width: 80px;
    height: 34px;
    top: 1px;
    right: 0;
    padding: 10px 10px;
    border: none;
    background: #111111;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
  }
  
  .footer .newsletter .btn-news:hover {
    background: #ff6f61;
  }
  
  .footer .newsletter input:focus,
  .footer .newsletter .btn-news:focus {
    box-shadow: none;
  }
  
  .footer .btn-feedback {
    position: relative;
    width: 90px;
    height: 40px;
    bottom: 50px;
    left: 85%;  
    border: none;
    background: #111111;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
     
  }
  
  .footer .btn-feedback:hover {
    background: #ff6f61;
  }
  
  .footer .btn-feedback:focus {  
    box-shadow: none;
  }
  
  .footer-col-4 a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 35px;
    height: 35px;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    border-radius: 4px;
  }
  

  
  .footer-col-4 a img {
    height: 28px;
    width: 28px;
  }
  
  .footer-col-4 a i {
    color: #111111;
  }
  

  

  .footer-menu {
    position: relative;
    background: #111111;
    margin-top: 15px;
  }
  
  .footer-menu .container {
    padding: 15px 0;
    border-top: 1px solid #000000;  
  }
  
  .footer-menu .f-menu {
    font-size: 0;
    text-align: center;
  }
  
  .footer-menu .f-menu a {
    color: #ffffff;
    font-size: 14px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ffffff;
  }
  
  .footer-menu .f-menu a:hover {
    color: #ff6f61;
  }
  
  .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .footer-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .footer-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .copyright {
    text-align: center;
  }
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  
  .title::after {
    content: "";
    background: radial-gradient(#fff,#ff6f61);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .div-clock{
    text-align: center;
    margin: auto;
    padding-top:10px;
    width: 50%;
  }
  
  .div-date{
    text-align: center;
    padding-top:5px;
    margin: auto;
    width: 50%;
  }
  
  /* News letter Popup */
  .popup {
    display: none;  
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 180px;
    top: 50%;
    margin-top: -100px;
    background: #FFF;
    color: red;
    border: 3px solid #F04A49;
    z-index: 20;
  }
  
  #popup:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -2;
  }
  
  #popup:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }
  
  #popup p {
    color: black;
  }
  
  .to-top{
      color: #fff;
    z-index: 100;
      font-size: 30px;
      position: fixed;
      right: 17px;
      bottom: 12px;
      height: 45px;
      width: 45px;
      text-decoration: none;	
      border-radius: 50%;
      text-align: center;
      background: rgba(0, 0, 0, 0.5); 
      background-repeat: no-repeat;
      background-position: center;
  }
  
    .to-top:hover {
      background-color: #222;
      color: red;	
      transition: all 1s ease;
  }  


  @media screen and (max-width: 1024px) { 
   

    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
      width: 100% !important;
      flex-basis:100%;
      text-align: center;
    }
    
    
  }
  

  